.App {
  text-align: center;
}

.App-logo {
  /*height: 40vmin; */
  height: 100%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LivBan{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('liverpoolbanner.png');
  background-position: center;
  
  background-size: 40%;                                                                             /*'../../client/images/liverpoolbanner.jpeg'*/
  position: center;
  margin: none;

  
  background-repeat: repeat;
  
  position: relative;
  padding-top: 0%;
  padding: 0%;
  height: 85px;

}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 2
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
